{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- link css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normaliz.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dycalendar.css' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- icon script -->
    <script src="{% static 'js/FO.js' %}"></script>
    <!-- font google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&amp;display=swap"
        rel="stylesheet">

</head>


<body>

    {% include 'base/nav.html' %}
    {% block content %}
    
    {% endblock content %}]


    {% include 'base/footer.html' %}



        <!-- script -->
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    
        <!-- No inheritance -->
        {% comment %} <script src="js/dycalendar.js"></script> {% endcomment %}
        <!-- end No inheritance -->
    
        <script src="{% static 'js/main.js' %}"></script>
    
</body>
    
</html>