{% load static %}
<header>

    <div class="main-header">
        <div class="container">

            <div class="part1">
                <a href="#">
                    <i class="fab fa-facebook-f"></i>

                </a>
                <a href="#">

                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-google-plus-g"></i>

                </a>
                <a href="#">
                    <i class="fab fa-pinterest-p"></i>

                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>

                </a>
                <a href="#">

                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://api.whatsapp.com/send?phone=201067514322&text=????">

                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="#">
                    <i class="fab fa-skype"></i>

                </a>
                <a href="#">
                    <i class="fab fa-github"></i>

                </a>
            </div>

            <div class="part2">

                <p>
                    <i class="fas fa-phone"></i> +20 0131 123 231
                </p>
                <a href="login.html">Login </a>

            </div>

        </div>
    </div>




    <nav class="navbar navbar-expand-lg navbar-light  big-h">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <!-- img / logo img -->
                <img src="{% static 'img/logo.png' %}" width="120px" alt="..." srcset="">
            </a>



            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <!-- links -->
                    <li class="nav-item">
                        <a class="nav-link one " aria-current="page" href="index.html">Home</a>
                    </li>

                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Admissions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="undergraduate.html">Undergraduate</a></li>
                                <li><a class="dropdown-item" href="graduate.html">Graduate</a></li>
                                <li><a class="dropdown-item" href="continuing-education.html">Continuing
                                        education</a></li>
                            </ul>
                        </div>
                    </li>


                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Research
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="research-strategy.html">Research strategy</a>
                                </li>
                                <li><a class="dropdown-item" href="divisions.html">Divisions</a></li>
                                <li><a class="dropdown-item" href="libraries.html">Libraries</a></li>
                            </ul>
                        </div>
                    </li>


                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                News & Events
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="news.html">News & Events</a></li>
                                <li><a class="dropdown-item" href="arts-blog.html">Arts Blog</a></li>
                                <li><a class="dropdown-item" href="find-an-expert.html">Find An Expert</a></li>
                            </ul>
                        </div>
                    </li>




                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="contact-us.html">Contact Us</a>
                    </li>
                    <li class="nav-item">

                        <select name="" id="" class="btn">
                            <option value="">English (en)</option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>

                    </li>



                </ul>
            </div>


    </nav>




</header>